// @import 
@import "bootstrap-icons/font/bootstrap-icons.css";

ul,
ol {
    list-style: none;
    padding-left: 0;
    /* optional: removes default left padding */
    margin-left: 0;
    /* optional: removes default margin */
}

//以此類推，這個檔案是sass/的入口檔，用來匯入所有我們設計的 scss 檔案